.skills__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.skills__child {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

    &:hover {
        background: transparent;
        border-color: var(--color-primary-variant);
        cursor: default;
    }

    >h3 {
        text-align: center;
        margin-bottom: 2rem;
        color: var(--color-primary);
    }
}

.skills__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;

}

.skills__details {
    display: flex;
    gap: 1rem;
    justify-content: center;
    height: 100%;
    align-items: flex-end;
    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        >h4 {
            margin-top: 12px;
            text-align: center;
        }
        >img {
            width: 100%;
            max-width: 110px;
        }
    }
}

.skills__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

// Media Queries

// Tablet view
@media screen and (max-width: 1024px) {
    .skills__container {
        grid-template-columns: 1fr;
    }
    .skills__child {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .skills__content {
        padding: 1rem;
    }
    .skills__details {
        >div>img {
            width: 100%;
            max-width: 80px;
        }
    }
}

// Mobile view
@media screen and (max-width: 600px) {
    .skills__container {
        gap: 1rem;
    }
    .skills__child {
        width: 100%;
        padding: 2rem 1rem;
    }
    .skills__details {
        >div>img {
            width: 100%;
            max-width: 50px;
        }
    }
}